$next_blue:rgb(64,92,191);

.pc{
    display: none;
}

.active {
}

@media screen and (max-width: 520px){

    .sp{
        display: inline-block;
    }
    /* スマートフォン用レイアウト 600px以上の範囲に収めるデザインはこの中に記述 */
    .header-menu-sub{
        position: absolute;
        margin-left: -40px;
        padding: 0;
        display: none;
        li{
            margin-top:40px;
            a{
                font-size: 1.5rem;
                padding: 5px;
                margin-left: -5px;
                margin-right: -5px;
                margin-bottom: -5px;
                display: block;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    header{
        padding:5px 0;
        .header-container{
            .header-left{
                width:20%;
            }
            .header-right{
                .header-btn{
                    display: none;
                }
                .header-btns{
                    display: block;
                    .header-menu{
                        .fa-align-justify{
                            font-size:2.5rem;
                            line-height: 53px;
                            color: $next_blue;
                        }
                    }
                }
            }
        }
    }

    main{
        padding:0;
        .flow-more{
            .flow-more-container{
                .flow-more-head{
                    h1{
                        font-size:4.0rem;
                    }
                    p{
                        font-size:1.0rem;
                    }
                }
                .flow-more-main{
                    padding-bottom:80px;
                    .flow-more-top{
                        .top-text{
                            display: flex;
                            flex-direction: column;
                            margin-top:30px;
                            .fa-laptop-code{
                                text-align: center;
                            }
                            p{
                                margin-top:30px;
                                width:80%;
                                margin:0 auto;
                                text-align: center;
                            }
                        }
                    }
                    .flow-more-text{
                        width:80%;
                        margin:0 auto;
                        .step_block{
                            display: flex;
                            flex-direction: column;
                            .step_left{
                                margin:0;
                                text-align: center;
                                h1{
                                    font-size:2.0rem;
                                    width:60%;
                                    margin:0 auto;
                                }
                            }
                            .step_right{
                                width:87%;
                                margin:0 auto;
                                h2{
                                    font-size:1.5rem;
                                    text-align: center;
                                    width:100%;
                                    margin:0 auto;
                                    margin-top:50px;
                                }
                                p{
                                    margin-top:40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:520px) and (max-width: 960px) {
    /* タブレット用レイアウト 520px以上の範囲に収めるデザインはこの中に記述 */
    .tb{
        display: inline-block;
    }
    .header-menu-sub{
        position: absolute;
        margin-left: -40px;
        padding: 0;
        display: none;
        li{
            margin-top:40px;
            a{
                font-size: 1.5rem;
                padding: 5px;
                margin-left: -5px;
                margin-right: -5px;
                margin-bottom: -5px;
                display: block;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    header{
        padding:5px 0;
        .header-container{
            .header-left{
                width:20%;
            }
            .header-right{
                .header-btn{
                    display: none;
                }
                .header-btns{
                    display: block;
                    .header-menu{
                        .fa-align-justify{
                            font-size:2.5rem;
                            line-height: 80px;
                            color: $next_blue;
                        }
                    }
                }
            }
        }
    }

    main{
        padding:0;
        .flow-more{
            .flow-more-container{
                .flow-more-head{
                    h1{
                        font-size:4.0rem;
                    }
                    p{
                        font-size:1.0rem;
                    }
                }
                .flow-more-main{
                    padding-bottom:80px;
                    .flow-more-top{
                        .top-text{
                            display: flex;
                            flex-direction: column;
                            margin-top:30px;
                            .fa-laptop-code{
                                text-align: center;
                            }
                            p{
                                margin-top:30px;
                                width:80%;
                                margin:0 auto;
                                text-align: center;
                            }
                        }
                    }
                    .flow-more-text{
                        width:80%;
                        margin:0 auto;
                        .step_block{
                            display: flex;
                            flex-direction: column;
                            .step_left{
                                margin:0;
                                text-align: center;
                                h1{
                                    font-size:2.0rem;
                                    width:60%;
                                    margin:0 auto;
                                }
                            }
                            .step_right{
                                width:87%;
                                margin:0 auto;
                                h2{
                                    font-size:1.5rem;
                                    text-align: center;
                                    width:100%;
                                    margin:0 auto;
                                    margin-top:50px;
                                }
                                p{
                                    width: 80%;
                                    margin:0 auto;
                                    margin-top:40px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    }